.EventDetailsCard-cotainer {
  background-color: gray;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .TopPart {
    .heading {
      h2 {
        text-align: center;
      }
    }

    .EventBriefInfo {
      .listOfBriefInfo {
        list-style: none;
        margin-top: 50px;

        li {
          font-size: 20px;
          margin: 20px 0;
        }
      }
    }
  }

  .button-container {
    width: 150px;
    height: 30px;
    margin: 0 auto;
    button {
      width: 100%;
      height: 100%;
    }
  }
}
