.NavBar-container {
  background-color: #cd2f3e;
  width: 100%;
  height: 80px;
  .content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .Logo-Container {
    }

    .navigationBtns-container {
      display: table;
      li {
        font-size: 18px;
        list-style: none;
      }
    }
  }
}
