.SessionCard-container {
  width: 100%;
  margin-top: 20px;
  border-bottom: 2px solid #4d648d;
  .TopCard {
    display: flex;
    height: 50px;

    .SessionTitle {
      margin: auto;
      vertical-align: middle;
      width: 80%;
      font-size: 20px;
      font-weight: bold;
    }

    .DateTime {
      float: right;
      width: 25%;
    }
  }

  .BottomCard {
    margin-top: 30px;
    height: 150px;
  }
}
