.LargeCalendar-container{
    
    .fc-day-grid-event{
        //hovering over event on calendar    
        :hover{
            cursor: pointer;
        }
    }

    .fc-today{
        background-color:rgb(152, 171, 204) !important; 
    }


    .fc-more{
        color:#4D648D;
    }

    .fc-popover .fc-header{
        background-color: #4D648D;
        color:white
    }

    .fc-event{
        border-color:#4D648D;
        background-color:#4D648D;
        color:white;
      
    }
}