.LargeCalendar-container {
  .fc-day-grid-event {
    //hovering over event on calendar
    :hover {
      cursor: pointer;
    }
  }
  //this color will be on the current day on calendar
  .fc-today {
    background-color: rgb(152, 171, 204) !important;
  }
  //the content when clicking on + NUM more
  .fc-more {
    color: #4d648d;
  }

  //header part for pop up in full calendar
  .fc-popover .fc-header {
    background-color: #4d648d;
    color: white;
  }

  //event title text
  .fc-content {
    color: white;
  }

  //the day digits on calendar
  .fc-day-number {
    color: #000;
  }

  //background container for event title
  .fc-event {
    border-color: #4d648d;
    background-color: #4d648d;

    :hover {
      background-color: #243a61;
      border-color: #243a61;
    }
  }
}
